body * {
    font-family: 'Cabin', sans-serif;
    color: #262626;
}

/* navbar & footer */

nav {
    padding: 0!important;
}

.navbar, footer {
    color: white;
    font-family: 'Lobster', cursive;
    text-decoration: none!important;
}

.nav-link {
    font-family: 'Cabin', regular;
    color: white;
}

footer h3 {
    color: white;
    font-family: 'Lobster', cursive;
}

/* Ricomida title size */

.icon {
    font-size: 2.3125rem;
    padding: 0;
}

/* Responsive menu color */

.navbar-toggler {
    border-color: gray;
}

.fa-bars {
    color: gray;
}

/* Header */

header {
    padding-top: 2.2rem!important;
}

.row__pizza {
    border-bottom: 0.0938rem solid #262626;
}

.row__pizza h1 {
    font-size: 2.125rem;
}

.row__img__pizza {
    border-bottom: 0.0938rem solid #262626;
}

.gray_color {
    background-color: #373A3C;
    color: #FFFFFF;
}

.btn-size button {
    font-weight: 300;
}

/* Carousel style */

.carousel-indicators li {
    top: 3.75rem;
    width: 0.8125rem;
    height: 0.8125rem;
    border-radius: 50%;
    background-color: gray;
}

.carousel-indicators .active {
    background-color: #262626;
}

/* Recipe section style */

.row_recipe {
    border-bottom: 0.0938rem solid #262626;
    padding-bottom: 3.75rem;
}

.recipe li {
    list-style: none;
    font-size: 1.25rem;
}

.ingredients, .preparation {
    display: inline-block;
    border-bottom: 0.0938rem solid #262626;
}

/* Related recipes change color text */

.change__color {
    color: #262626;
}

.change__color1 {
    color: #262626;
}

.change__red {
    color: red;
}

/* Suscribe Newsletter section */

.us .container h3 {
    font-size: 1.875rem;
}

span {
    font-family: 'Lobster', cursive;
}